<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/js/layui-v2.4.5/css/layui.css}">
    <script type="text/javascript" th:src="@{/static/js/jQuery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/layui-v2.4.5/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/wangEditor/wangEditor.js}"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header" id="layui-header">
        <div class="layui-logo">Danny博客</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index">Hi,Danny</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/index">控制台</a></li>
            <li class="layui-nav-item"><a href="/index">博客首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    Danny
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">切换账号</a></dd>
                    <dd><a href="">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!--列表展开状态-->
                <!--<li class="layui-nav-item layui-nav-itemed">-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/articleSort/articleSortList">文章分类</a></dd>
                        <dd><a href="/article/articleList">文章列表</a></dd>
                        <dd><a href="">文章发布</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">用户管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">评价管理</a></li>
                <li class="layui-nav-item"><a href="">文章发布</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body">
        <div>
            <div style="padding: 15px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div align="center" class="layui-card-header" th:text="${article.getArticleName()}">文章内容
                            </div>
                            <div class="layui-card-body">
                                <span id="articleContent"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $('#articleContent').html([[${article.getArticleContent()}]]);
    });
</script>
</body>
</html>