
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
<title>宁静优美的自适应404网页模板</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="404模板" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link th:href="@{/static/css/errorpage/style.css}" rel='stylesheet' type='text/css'/><!-- style.css -->

</head>
<body>
<div id="particles-js"></div>
	<div class="main-w3layouts">
	<h1>页面丢失</h1>
		<div class="main-agile">
			<h2>Error</h2>
			<p>看起来你可能迷路了，别担心...一切竟在我们的掌握之中</p>
		<div class="botton-w3ls"><a href="/index">返回首页</a></div>
		</div>
		<!--<div class="footer-w3l">
			<p class="agileinfo"> &copy; 2018 404.life</p>
		</div>-->
	</div>
	<script th:src="@{/static/js/errorpage/particles.js}"></script>
	<script th:src="@{/static/js/errorpage/app.js}"></script>
</body>
</html>