<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Danny博客</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/static/css/base.css}" rel="stylesheet">
    <link th:href="@{/static/css/m.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/static/js/head.js}"></script>
    <script th:src="@{/static/js/comm.js}"></script>
    <script th:src="@{/static/js/sidebar.js}"></script>
    <script th:src="@{/static/js/foot.js}"></script>
    <!--[if lt IE 9]>
    <script th::th:src="@{/static/js/modernizr.js}"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
<header id="header"></header>
<div class="searchbox"></div>
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu">
            <img th:src="@{/static/images/lm04.jpg}">
            <h1>学无止境</h1>
            <p>
                学无止境，技术分享。
            </p>
        </div>
        <div th:each="articleSort : ${articleSortS}" class="zhuanti whitebg">
            <h2 class="htitle" th:text="${articleSort.getSortArticleName()}">
                <span class="hnav"><a href="/" target="_blank" text="更多">更多</a></span>sortArticleName
            </h2>
            <ul>
                <li>
                    <i class="ztpic">
                        <a href="/" target="_blank"><img th:src="@{/static/images/1.jpg}"></a>
                    </i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>
                        个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...
                    </span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
                <li>
                    <i class="ztpic">
                        <a href="/" target="_blank"><img th:src="@{/static/images/2.jpg}"></a>
                    </i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>
                        个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...
                    </span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
                <li>
                    <i class="ztpic"><a href="/" target="_blank"><img th:src="@{/static/images/3.jpg}"></a></i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>
                        个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...
                    </span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
                <li>
                    <i class="ztpic"><a href="/" target="_blank"><img th:src="@{/static/images/4.jpg}"></a></i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
                <li>
                    <i class="ztpic"><a href="/" target="_blank"><img th:src="@{/static/images/h2.jpg}"></a></i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
                <li>
                    <i class="ztpic"><a href="/" target="_blank"><img th:src="@{/static/images/h1.jpg}"></a></i>
                    <b>个人博客模板《今夕何夕》-响应式个人...</b>
                    <span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span>
                    <a href="" target="_blank" class="readmore">文章阅读</a>
                </li>
            </ul>
        </div>

        <!--bloglist end-->
    </div>
    <div class="rbox"></div>
</article>
<footer id="foot"></footer>
</body>
</html>
